[project]
	description = Toolkit to do CRUD operations on inventories. Input: 1 or multiple ansible inventories, output: 1 ansible inventory the way you like.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jean-Philippe Evrard (evrardjp)
[access "refs/for/refs/*"]
	read = group user/Jean-Philippe Evrard (evrardjp)
	push = group user/Jean-Philippe Evrard (evrardjp)
	label-Code-Review = -2..+2 group user/Jean-Philippe Evrard (evrardjp)
	label-Verified = -1..+1 group user/Jean-Philippe Evrard (evrardjp)
	rebase = group user/Jean-Philippe Evrard (evrardjp)
	removeReviewer = group user/Jean-Philippe Evrard (evrardjp)
	submit = group user/Jean-Philippe Evrard (evrardjp)
[access "refs/heads/*"]
	read = group user/Jean-Philippe Evrard (evrardjp)
	create = group user/Jean-Philippe Evrard (evrardjp)
	push = +force group user/Jean-Philippe Evrard (evrardjp)
	pushMerge = group user/Jean-Philippe Evrard (evrardjp)
[access "refs/tags/*"]
	push = group user/Jean-Philippe Evrard (evrardjp)
	push = +force group user/Jean-Philippe Evrard (evrardjp)
